<div class="card container mt-4">



  <div class="card-body">
    <% if @tut.video.attached? %>
      <h2 class="badge text-bg-light">Course: <%= @tut.course.title %></h2>
      <h3 class="text-black text-center"><%= @tut.title %></h3><hr style="color: black;" />
      <div class="ratio ratio-21x9">
        <%= video_tag(url_for(@tut.video), width: 640, height: 360, controls: true) %>  
      </div>
    <% end %>

    <hr style="color: black;" />


    <div class="d-flex justify-content-between">

      <% current_tut_index = @tuts.index(@tut) %>

      <% if current_tut_index && current_tut_index > 0 %>
        <% previous_tut = @tuts[current_tut_index - 1] %>
        <%= link_to course_tut_path(@course, previous_tut) do %>
          <p class="btn btn-dark rounded-1">&#8656; Previous</p>
        <% end %>
        
      <% end %>

      <% if current_tut_index && current_tut_index < @tuts.length - 1 %>
        <% next_tut = @tuts[current_tut_index + 1] %>
        <%= link_to course_tut_path(@course, next_tut) do %>

            <p class="btn btn-dark rounded-1">Next &#8658;</p>
        
        <% end %>
        
      <% end %>
    </div>


    <ul class="list-group mt-3">
      <% @tuts.each do |tut| %>
        <li class="list-group-item <%= 'active' if tut == @tut %> d-flex justify-content-between" style="background-color: white;">
          <%= link_to tut.title, course_tut_path(@course, tut), class: "text-black" %>
          <% if current_user.try(:type) %>
            <%= link_to edit_course_tut_path(@course, tut), class: "ml-2" do %>
              <i class="bi bi-pencil" style="color: red;"></i>
            <% end %>
            
          <% end %>
        </li>
      <% end %>
    </ul>

    <%= link_to "back to my courses", my_courses_path, class:"btn btn-sm btn-dark rounded-0 mt-3" %>


  </div>
</div>
