<div class="card container mt-4">
  <div class="card-body">
      <h2 class="badge text-bg-light">Course: <%= @tut.course.title %></h2>
      <h3 class="text-black text-center"><%= @tut.title %></h3>
      <hr style="color: black;" />

      
      <div class="">
        <% @tut.videos.each_with_index do |video, index| %>
          <div class="video-container" data-filename="<%= video.blob.filename.to_s %>" style="<%= index == 0 ? 'display: block;' : 'display: none;' %>">
            <div class="d-flex justify-content-center align-items-center">
              <%= video_tag(url_for(video), width: 640, height: 360, controls: true) %>  
            </div>
          </div>
        <% end %>
      </div>

      <hr style="color: black;" />

      <div>
        <%= link_to edit_course_tut_path(@tut.course) do %>
          <i class="bi bi-gear-fill"></i>
        <% end %>
        
      </div>

      <div>
        <% @tut.videos_blobs.each_with_index do |blob, index| %>
          <% filename = blob.filename.to_s.gsub(/\.mp4\z/, '') %>
          <ul class="list-group">
            <div id="edit-name-<%= blob.id %>" class="row">
              <div class="col-md-11">
                <li class="list-group-item video-filename <%= index == 0 ? 'highlighted' : '' %>" data-filename="<%= filename %>" style="cursor:pointer; margin-left: 75px;"><%= filename %></li>
              </div>
              <% if current_user.try(:type) %>
                <div class="col">
                  <%= link_to edit_filename_course_tut_path(@tut.course, @tut, blob.id), data: {controller: "edit-filename"} do %>
                    <i class="bi bi-pencil" style="color:#a435f0;"></i>
                  <% end %>

                  <%= link_to delete_file_post_course_tut_path(@tut.course, @tut, blob.id), data: {turbo_method: :delete} do %>
                    <i class="bi bi-trash" style="color:red;"></i>
                  <% end %>
                  
                </div>
              <% end %>
            </div>
          </ul>
        <% end %>
      </div>

      <script>
        document.addEventListener("turbo:load", function() {
          var videoContainers = document.querySelectorAll(".video-container");
          var videoFilenames = document.querySelectorAll(".video-filename");

          videoFilenames[0].click();

          videoFilenames.forEach(function(filenameElement) {
            filenameElement.addEventListener("click", function() {
              var filename = this.dataset.filename;

              videoFilenames.forEach(function(element) {
                element.classList.remove("highlighted");
              });

              this.classList.add("highlighted");

              videoContainers.forEach(function(container) {
                var containerFilename = container.dataset.filename;

                // Use includes to check if the filename contains the selected filename
                if (containerFilename.includes(filename)) {
                  container.style.display = "block";
                } else {
                  container.style.display = "none";
                }
              });
            });
          });
        });
      </script>

      <style>
        .highlighted {
          background-color: #a435f0; 
          color: white;
        }
      </style>


    <div class="d-flex justify-content-between mt-2">
      <% current_tut_index = @tuts.index(@tut) %>

      <% if current_tut_index && current_tut_index > 0 %>
        <% previous_tut = @tuts[current_tut_index - 1] %>
        <%= link_to course_tut_path(@course, previous_tut) do %>
          <p class="btn btn-dark rounded-1">&#8656; Previous</p>
        <% end %>
      <% end %>

      <% if current_tut_index && current_tut_index < @tuts.length - 1 %>
        <% next_tut = @tuts[current_tut_index + 1] %>
        <%= link_to course_tut_path(@course, next_tut) do %>
          <p class="btn btn-dark rounded-1">Next &#8658;</p>
        <% end %>
      <% end %>
    </div>



    <%= link_to "back to topics", course_tuts_path(@tut.course) , class: "btn btn-sm btn-dark rounded-0 mt-3" %>
  </div>
</div>
