<h5 class="text-center mt-5">Create Course</h5>
<%= form_for course ,data: {controller: "course", course_target: "form"} do |f| %>

  <div class="d-flex justify-content-start align-items-start">
    <% if course.errors.any? %>
      <div id="error_explanation" class="alert alert-danger">
        <ul>
          <% course.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>


  <div class="row text-black">
    <div class="col-md-7 my-2">
      <%= f.label :Course_Title, class:"form-label" %>
      <%= f.text_field :title, class:"form-control rounded-0", required: true %>    
    </div>
    
    <div class="col-md-2 my-2">
      <%= f.label :Course_Price, class:"form-label" %>
      <%= f.number_field :price, class:"form-control rounded-0", min:0 , required: true %>    
    </div>
  
    <div class="my-2">
      <%= f.label :Course_Description, class:"form-label" %>
      <%= f.text_area :description, class:"form-control rounded-0", style:"height: 86px;", maxlength: 400, required: true %>    
    </div>



    <% if course.thumbnail.present? %>
      <%= image_tag(course.thumbnail, style: "max-width: 250px; max-height: 250px;") %>
      <%= link_to "Remove", remove_thumbnail_course_path(course), data:{confirm: "are you sure?", turbo_method: :delete} %>
    <% else %>
      <style>
        input[type="file"]::file-selector-button {
          border: 2px solid #b252f4;
          padding: 0.2em 0.4em;
          border-radius: 0.2em;
          background-color: #b252f4;;
          color: white;
          transition: 1s;
          cursor: pointer;
        }

        input[type="file"]::file-selector-button:hover {
          background-color: #d8a0ff;
          border: 2px solid #d8a0ff;
        }
      </style>
      <div class="d-flex flex-column my-4">
        <%= f.label :Course_cover_photo %>
        <%= f.file_field :thumbnail, direct_upload: true %>
      </div>

    <% end %>


    
    
    <div class="my-2">

      <%= button_tag(type: 'submit', class: 'btn btn-primary rounded-0', data:{course_target: "button", action:"click->course#loadBtn"}) do %>
        
        <div class="d-flex justify-content-center align-items-center gap-3">
          <div id="course-btn-text">Create Course</div>
          <div class="spinner-border d-none" id="spinner" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
      <% end %>
    </div>

  </div>

<% end %>
